*{
    text-align: center;
    font-size: 110%;
    font-family: sans-serif;
    background-color: white;
    color: black

}
body{
    margin: 20px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.box{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px 5px 10px #999;
    width: 500px;
    height: 300px;
    display: block;

}
#msgBox {
    width: 100%;
    height: 400px;
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: small;
    background-color: white;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    margin: 10px;
    background-color: rgb(156, 155, 155);
}
label{
    margin: 10px;
}
#textbox{
    vertical-align: top;
    width: 500px;
    height: 30px;
    text-align: left;
    font-size: small;
}
